.movieContainer {
  display: flex;
  flex-direction: column;
  width: 16vw;
}

.poster {
  border-radius: 10px 10px 0 0;
  margin-bottom: 5px;
}

.movieTitle {
  margin-bottom: 0;
}

.views {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
}
